.about {
    padding-top: 130px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }
}
.inner-left {
    flex: 50%;
    padding: 10px 0 0 30px;
    &__title {
        font-weight: 800;
        font-size: 40px;
        color: #383838
    }
    &__sub-title {
        font-weight: 700;
        font-size: 26px;
        color: #000000;
    }
    &__text {
        font-size: 25px;
        color: #383838;
        padding: 0 10px 0 0;
    }
}
.inner-right {
    display: block;
    margin: 0 auto;
    &__img-top {
        display: block;
        margin: 0 auto;
        width: 90%;
        height: auto;
    }
    &__img-bottom {
        display: block;
        margin: 0 auto;
        width: 78%;
        height: auto;
        padding-left: 33px;
    }
}
@media (max-width: 1200px) {
    .about {
        padding-top: 70px;
    }
    .inner-left {
        flex: 50%;
        padding: 10px 0 0 30px;
        &__title {
            font-weight: 800;
            font-size: 40px;
            color: #383838
        }
        &__sub-title {
            font-weight: 700;
            font-size: 20px;
            color: #000000;
        }
        &__text {
            font-size: 20px;
            color: #383838;
            padding: 0 10px 0 0;
        }
    }
    .inner-right {
        &__img-top {
            display: block;
            margin: 0 auto;
            width: 90%;
            height: auto;
        }
        &__img-bottom {
            display: block;
            margin: 0 auto;
            width: 78%;
            height: auto;
            padding-left: 33px;
        }
    } 
}
@media (max-width: 1024px) {
    .about {
        padding-top: 70px;
    }
    .inner-left {
        flex: 60%;
        padding: 10px 0 0 30px;
        &__title {
            font-weight: 800;
            font-size: 38px;
            color: #383838
        }
        &__sub-title {
            font-weight: 700;
            font-size: 20px;
            color: #000000;
        }
        &__text {
            font-size: 20px;
            color: #383838;
            padding: 0 10px 0 0;
        }
    }
    .inner-right {
        &__img-top {
            display: block;
            margin: 0 auto;
            width: 90%;
            height: auto;
        }
        &__img-bottom {
            display: block;
            margin: 0 auto;
            width: 78%;
            height: auto;
            padding-left: 30px;
        }
    } 
}
@media (max-width: 920px) {
    .about {
        padding-top: 70px;
    }
    .inner-left {
        flex: 70%;
        padding: 10px 0 0 30px;
        &__title {
            font-weight: 800;
            font-size: 30px;
            color: #383838
        }
        &__sub-title {
            font-weight: 700;
            font-size: 20px;
            color: #000000;
        }
        &__text {
            font-size: 18px;
            color: #383838;
            padding: 0 0px 0 0;
        }
    }
    .inner-right {
        &__img-top {
            display: block;
            margin: 0 auto;
            width: 90%;
            height: auto;
        }
        &__img-bottom {
            display: block;
            margin: 0 auto;
            width: 78%;
            height: auto;
            padding-left: 30px;
        }
    } 
}
@media (max-width: 768px) {
    .about {
        padding-top: 70px;
        &__inner {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
        }
    }
    .inner-left {
        flex: 70%;
        padding: 20px 0 0 20px;
        align-items: center;
        text-align: center;

        &__title {
            font-size: 35px;
        }
        &__sub-title {
            font-size: 25px;
        }
        &__text {
            font-size: 20px;
            padding: 0 10px;
        }
    }
    .inner-right {
        &__img-top {
            display: block;
            margin: 0 auto;
            width: 60%;
            height: auto;
        }
        &__img-bottom {
            display: block;
            margin: 0 auto;
            width: 53%;
            height: auto;
            padding-left: 30px;
        }
    } 
}
@media (max-width: 530px) {
    .about {
        padding-top: 70px;
        &__inner {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
        }
    }
    .inner-left {
        flex: 70%;
        padding: 20px 0 0 20px;
        &__title {
            font-size: 25px;
        }
        &__sub-title {
            font-size: 20px;
        }
        &__text {
            font-size: 20px;
        }
    }
    .inner-right {
        &__img-top {
            width: 60%;
        }
        &__img-bottom {
            width: 53%;
            padding-left: 10px;
        }
    } 
}