.all-recipes {

    &__inner {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    &__inner-title {
        font-weight: 800;
        font-size: 64px;
        line-height: 78px;
        padding-left: 35px;
    }

    &__inner-card-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.wrapper-card-inner {

    &__card {
        position: relative;
    }

    &__card-link-img {
        width: 100%;
        height: auto;
    }

    &__card-container {
        display: block;
        margin: 0 auto;
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 80%;
        bottom: 0;
        left: 0px;
        right: 0;
    }
    &__card-link {
        font-weight: 800;
        font-size: 40px;
        line-height: 49px;
        color: #FFFFFF;
        padding-left: 0px;
    }

    &__card-arrow {
        width: 60px;
    }
}
@media (max-width: 1200px) {
    .all-recipes {
        padding-top: 70px;
        &__inner-title {
            font-size: 50px;
            line-height: 0px;
        }
    }
    .wrapper-card-inner {
        &__card-link-img {
            width: 100%;
            height: auto;
        }
        &__card-link {
            font-size: 30px;
        }
        &__card-arrow {
            width: 40px;
        }
    }
}
@media (max-width: 920px) {
    .all-recipes {
        padding-top: 70px;
        &__inner-title {
            font-size: 35px;
            line-height: 0px;
        }
    }
    .wrapper-card-inner {
        &__card-link-img {
            width: 100%;
            height: auto;
        }
        &__card-link {
            font-size: 25px;
        }
        &__card-arrow {
            width: 35px;
        }
    }
}
@media (max-width: 768px) {
    .all-recipes {
        padding-top: 70px;
        &__inner-title {
            font-size: 35px;
            line-height: 0px;
            text-align: center;
            padding-left: 0px;
        }
        &__inner-card-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
    .wrapper-card-inner {
        // display: block;
        // margin: 0 auto;
        // width: 50%;
        &__card-link-img {
            display: block;
            margin: 0 auto;
            width: 80%;
            height:auto;
        }
        &__card-link {
            font-size: 25px;
        }
        &__card-container {
            display: block;
            margin: 0 auto;
            position: absolute;
            display: flex;
            justify-content: space-between;
            width: 50%;
            bottom: 0;
            left: 0px;
            right: 0;
        }
        &__card-arrow {
            width: 35px;
        }
    }
}
@media (max-width: 425px) {
    .all-recipes {
        &__inner-title {
            font-size: 30px;
        }
    }
    .wrapper-card-inner {
        &__card-link {
            font-size: 18px;
        }
        &__card-arrow {
            width: 20px;
        }
    }
}