@import "./normilize";
@import "fonts";

body{
    font-family: LifeSavers;
    background: url(@img/background.png) 0 0 no-repeat;
    background-size: cover;
}
.wrapper{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}
@import "./header";
@import "./headerContent";
@import "./aboutZilola";
@import "./recipes";
@import "./whychooseus";
@import "./allRecipes";



// // ================================================ from ======================================================================
.form {
    padding-top: 120px;
    margin-bottom: 70px;
    background:url(@img/bgQ.png) 0 0 no-repeat;
    background-size: 70%;
    background-position: top right;
    &__inner {
        display: block;
        margin: 0 auto;
    }

    &__inner-wrapper {
        display: flex;
        flex-direction: column;
    }
}
.form-wrapper {
    &__title {
        font-weight: 800;
        font-size: 65px;
        color: #744996;
        text-align: left;
        margin: 0 0 0 0;
    }
}
.form-wrapper-top {
    &__content {
        display: flex;
        gap: 30px;
        align-items: center;
        padding-top: 50px;
    }
}
.form-wrapper-bottom {

    &__content-b {
        margin-bottom: 90px;
    }
}
.content-b {
    padding-top: 50px;
    &__title {
        font-weight: 700;
        font-size: 24px;
        color: #693D8C;
        margin: 0 0 0 25px;
    }

    &__btn {
        padding: 0 0 0 0;
        font-weight: 700;
        font-size: 32px;
        color: #FFFFFF;
        background: #744996;
        box-shadow: 0px 4px 20px 3px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        width: 318px;
        height: 64.65px;
        margin-top: 50px;
    }
}
.question {
}
.content-b-b {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 82.5%;
}
.checkbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.terms {
    display: flex;
    padding-top: 30px;
}
.terms-title {
    font-weight: 300;
    font-size: 32px;
    color: #744996;
    padding-left: 10px;
    margin: 0 0;
}
.cookies {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
.cookies-title {
    font-weight: 300;
    font-size: 32px;
    color: #744996;
    padding-left: 10px;
    margin: 0 0;
}
input[type=text].question{
    width: 82.5%;
}
input[type=text] {
    width: 40%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #693D8C;
    background-color: transparent;
    font-size: 24px;
    color: #9A62D2;
}
input[type=text]:focus {
    outline: none;
    background-color: transparent;
}
input[type=email] {
    width: 40%;
    padding: 11px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #693D8C;
    background-color: transparent;
    font-size: 24px;
}
input[type=email]:focus {
    outline: none;
    color: #9A62D2;
}
select {
    width: 40%;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #693D8C;
    background-color: transparent;
    color: #693D8C;
    font-size: 24px;
}
select:focus {
    outline: none;
}
input[type=checkbox]{
    width: 20px;
    height: 20px;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #693D8C;
    font-size: 24px;
 }

 :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #693D8C;
    font-size: 24px;
 }
 ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #693D8C;
    font-size: 24px;
 }
 :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #693D8C;
    font-size: 24px;
 }

 @media (max-width:1200px){
    .form-wrapper {
        &__title {
            font-size: 45px;
        }
    }
    ::-webkit-input-placeholder {
        font-size: 18px;
     }
    
     :-moz-placeholder {
        font-size: 18px;
     }
     ::-moz-placeholder { 
        font-size: 18px;
     }
     :-ms-input-placeholder {
        font-size: 18px;
     }
     .content-b {
        padding-top: 30px;
        &__title {
            font-size: 18px;
            margin: 0 0 0 20px;
        }
    
        &__btn {
            font-size: 25px;
            width: 218px;
            height: 54.65px;
        }
    }
    .terms-title {
        font-size: 20px;
    }
    .cookies-title {
        font-size: 20px;
    }
 }
 @media (max-width:768px){
    .form {
        padding-top: 90px;
    }
    .form-wrapper {
        &__title {
            font-size: 25px;
            text-align: center;
        }
    }
    .form-wrapper-top {
        display: flex;
        flex-direction: column;
        align-self: left;
        &__content {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: left;
            padding-top: 20px;
        }
    }
    
    .content-b {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        &__title {
            font-size: 20px;
            color: #693D8C;
            margin: 0 0;
            padding: 0 0;
        }
        &__btn {
            padding: 0 0 0 0;
            font-weight: 700;
            font-size: 18px;
            color: #FFFFFF;
            background: #744996;
            box-shadow: 0px 4px 20px 3px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            width: 200px;
            height: 44.65px;
            margin-top: 30px;
        }
    }
    .content-b-b {
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
    }
    .terms {
        padding-top: 20px;
    }
    .terms-title {
        font-size: 16px;
    }
    .cookies {
        padding-top: 10px;
    }
    .cookies-title {
        font-size: 16px;
    }
    input[type=text].question{
    width: 90%;
    }
input[type=text] {
    width: 90%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #693D8C;
    background-color: transparent;
    font-size: 24px;
    color: #9A62D2;
}
input[type=text]:focus {
    outline: none;
    background-color: transparent;
}
input[type=email] {
    width: 90%;
    padding: 11px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #693D8C;
    background-color: transparent;
    font-size: 24px;
}
input[type=email]:focus {
    outline: none;
    color: #9A62D2;
}
select {
    width: 90%;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #693D8C;
    background-color: transparent;
    color: #693D8C;
    font-size: 18px;
}
select:focus {
    outline: none;
}
input[type=checkbox]{
    width: 15px;
    height: 15px;
}
    ::-webkit-input-placeholder {
        font-size: 16px;
     }
    
     :-moz-placeholder {
        font-size: 16px;
     }
     ::-moz-placeholder { 
        font-size: 16px;
     }
     :-ms-input-placeholder {
        font-size: 16px;
     }
 }
 @media (max-width:375px){
    .form-wrapper {
        &__title {
            font-size: 25px;
        }
    }
    ::-webkit-input-placeholder {
        font-size: 14px;
     }
    
     :-moz-placeholder {
        font-size: 14px;
     }
     ::-moz-placeholder { 
        font-size: 14px;
     }
     :-ms-input-placeholder {
        font-size: 14px;
     }
     .content-b {
        padding-top: 30px;
        &__title {
            font-size: 16px;
            margin: 0 0 0 0px;
            margin-bottom: -10px;
        }
    
        &__btn {
            font-size: 25px;
            width: 218px;
            height: 54.65px;
        }
    }
    .terms-title {
        font-size: 20px;
    }
    .cookies-title {
        font-size: 20px;
    }

 }
// // ================================================ contact us ======================================================================
.contactus {
    padding-top: 70px;
    margin-bottom: 90px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__inner-facebook {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease-out;
    }
    &__inner-instagram {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease-out;
    }
}
.inner-info {
    padding-right: 30px;
    &__title {
        font-weight: 800;
        font-size: 45px;
        border: 1px solid #FFFFFF;
    }
    &__text {
        display: flex;
        flex-direction: column;
    }
    &__text-tel {
        display: flex;
        flex-direction: column;
        span{
            font-weight: 800;
            font-size: 28px;
            margin-bottom: 10px;
        }
    }
    &__text-tel-link {
        font-weight: 600;
        font-size: 18px;
        cursor: pointer;
        transition: all 0.2s ease-out;
    }
    &__text-tel-link:hover {
        color: #744996;
    }
    &__text-email {
        display: flex;
        flex-direction: column;
        span{
            font-weight: 800;
            font-size: 28px;
            margin-bottom: 10px;
        }
    }
    &__text-email-link {
        font-weight: 600;
        font-size: 18px;
        cursor: pointer;
        transition: all 0.2s ease-out;
    }
    &__text-email-link:hover {
        color: #744996;
    }
    &__text-workinghours {
        display: flex;
        flex-direction: column;
        span{
            font-weight: 800;
            font-size: 28px;
            margin-bottom: 10px;
        }
        font-weight: 600;
        font-size: 18px;
    }
}
.link-wrapper {
    &__container {
        display: flex;
    }
}
.fb-ic {
}

.fb-img {
    width: 100%;
}
.ins-ic {
}
.ins-img {
    width: 100%;
}

@media (max-width: 1024px) {
    .inner-info {
        margin-left: 20px;
        &__title {
            font-weight: 800;
            font-size: 25px;
            border: 1px solid #FFFFFF;
            
        }
    
        &__text {
            display: flex;
            flex-direction: column;
        }
    
        &__text-tel {
            display: flex;
            flex-direction: column;
            span{
                font-weight: 800;
                font-size: 22px;
                margin-bottom: 10px;
            }
        }
    
        &__text-tel-link {
            font-weight: 600;
            font-size: 16px;
        }
    
        &__text-email {
            display: flex;
            flex-direction: column;
            span{
                font-weight: 800;
                font-size: 22px;
                margin-bottom: 10px;
            }
        }
    
        &__text-email-link {
            font-weight: 600;
            font-size: 16px;
        }
    
        &__text-workinghours {
            display: flex;
            flex-direction: column;
            span{
                font-weight: 800;
                font-size: 22px;
                margin-bottom: 10px;
            }
            font-weight: 600;
            font-size: 16px;
        }
    }
    .fb-ic {   
        width: 55px;
    }
    .fb-img {
        width: 80%;
    }
    .ins-ic {
        width: 55px;
    }
    .ins-img {
        width: 80%;
    }
}
@media (max-width: 768px) {
    .contactus {
        padding-top: 0px;
        margin-bottom: 40px;
        &__inner {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    
        &__inner-info {
            padding: 0 0 0 0;
        }
    
        &__inner-facebook {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    
        &__inner-instagram {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .inner-info {
       display: flex;
       flex-direction: column;
       align-items: center;
        margin-left: 0px;
        &__title {
            font-weight: 800;
            font-size: 35px;
            border: 1px solid #FFFFFF;
        }
    
        &__text {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
        }
    
        &__text-tel {
          display: flex;
          flex-direction: row;
          align-items: center;
          text-align: center;
          justify-content: space-between;
          gap: 100px;
            span{
                font-weight: 800;
                font-size: 25px;
                margin-bottom: 10px;
            }
        }
    
        &__text-tel-link {
            display: flex;
            font-weight: 600;
            font-size: 18px;
        }
    
        &__text-email {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            justify-content: space-between;
            gap: 100px;
            span{
                font-weight: 800;
                font-size: 25px;
                margin-bottom: 10px;
            }
        }
    
        &__text-email-link {
            font-weight: 600;
            font-size: 18px;
        }
    
        &__text-workinghours {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            justify-content: space-between;
            gap: 40px;
            span{
                font-weight: 800;
                font-size: 25px;
                margin-bottom: 10px;
            }
            font-weight: 600;
            font-size: 18px;
        }
    }
    .fb-ic {   
        width: 55px;
    }
    .fb-img {
        display: none;
    }
    .ins-ic {
        width: 55px;
    }
    .ins-img {
        display: none;
    }
}
@media (max-width: 383px) {
    .contactus {
        padding-top: 0px;
        margin-bottom: 40px;
        &__inner {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    
        &__inner-info {
            padding: 0 0 0 0;
        }
    
        &__inner-facebook {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    
        &__inner-instagram {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .inner-info {
       display: flex;
       flex-direction: column;
       align-items: center;
        margin-left: 0px;
        &__title {
            font-weight: 800;
            font-size: 35px;
            border: 1px solid #FFFFFF;
            
        }
    
        &__text {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
        }
    
        &__text-tel {
          display: flex;
          flex-direction: row;
          align-items: center;
          text-align: center;
          justify-content: space-between;
          gap: 20px;
            span{
                font-weight: 800;
                font-size: 22px;
                margin-bottom: 0px;
            }
        }
    
        &__text-tel-link {
            display: flex;
            font-weight: 600;
            font-size: 16px;
        }
    
        &__text-email {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            justify-content: space-between;
            gap: 10px;
            span{
                font-weight: 800;
                font-size: 22px;
                margin-bottom: 0px;
            }
        }
    
        &__text-email-link {
            font-weight: 600;
            font-size: 18px;
        }
    
        &__text-workinghours {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            justify-content: space-between;
            gap: 10px;
            span{
                font-weight: 800;
                font-size: 18px;
                margin-bottom: 0px;
            }
            font-weight: 600;
            font-size: 16px;
        }
    }
    .fb-ic {   
        width: 55px;
    }
    .fb-img {
        display: none;
    }
    .ins-ic {
        width: 55px;
    }
    .ins-img {
        display: none;
    }
}
@media (max-width: 319px) {
    .contactus {
        padding-top: 0px;
        margin-bottom: 40px;
        &__inner {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    
        &__inner-info {
            padding: 0 0 0 0;
        }
    
        &__inner-facebook {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    
        &__inner-instagram {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .inner-info {
       display: flex;
       flex-direction: column;
       align-items: center;
        margin-left: 0px;
        &__title {
            font-weight: 800;
            font-size: 25px;
            border: 1px solid #FFFFFF;
            
        }
    
        &__text {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
        }
    
        &__text-tel {
          display: flex;
          flex-direction: row;
          align-items: center;
          text-align: center;
          justify-content: space-between;
          gap: 10px;
            span{
                font-weight: 800;
                font-size: 16px;
                margin-bottom: 0px;
            }
        }
    
        &__text-tel-link {
            display: flex;
            font-weight: 600;
            font-size: 14px;
        }
    
        &__text-email {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            justify-content: space-between;
            gap: 10px;
            span{
                font-weight: 800;
                font-size: 18px;
                margin-bottom: 0px;
            }
        }
    
        &__text-email-link {
            font-weight: 600;
            font-size: 14px;
        }
    
        &__text-workinghours {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            justify-content: space-between;
            gap: 10px;
            span{
                font-weight: 800;
                font-size: 16px;
                margin-bottom: 0px;
            }
            font-weight: 600;
            font-size: 14px;
        }
    }
    .fb-ic {   
        width: 44px;
    }
    .fb-img {
        display: none;
    }
    .ins-ic {
        width: 44px;
    }
    .ins-img {
        display: none;
    }
}

// // =================================================== footer ==================================================================
.footer {
    padding-top: 70px;
    margin-bottom: 10px;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }
    &__logo {
        display: flex;
        align-items: center;
    }
    &__logo-img {
        width: 30%;
    }
    &__logo-title {
        font-weight: 700;
        font-size: 28px;
        line-height: 59px;
        color: #414141
    }
}
.allrights {
}
.allrights-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
@media (max-width: 1024px) {
    .footer {
        padding-top: 70px;
        margin-bottom: 10px;
        &__inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;
        }
        &__logo {
            display: flex;
            align-items: left;
            width: 70px;
            height: 70px;
        }
        &__logo-img {
           width: 100%;
        }
        &__logo-title {
            display: none;
        }
    }
    .allrights-text {
        font-weight: 700;
        font-size: 18px;
    }
}

@media (max-width: 560px){
    .footer {
        padding-top: 70px;
        margin-bottom: 10px;
        &__inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            padding: 0 10px;
        }
        &__logo {
            display: flex;
            align-items: left;
            width: 70px;
            height: 70px;
        }
        &__logo-img {
            width:100%;
        }
        &__logo-title {
            display: none;
        }
    }
    .allrights-text {
        font-weight: 800;
        font-size: 12px;
    }
}
@media (max-width: 425px){
    .footer {
        padding-top: 70px;
        margin-bottom: 10px;
        &__inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            padding: 0 10px;
        }
        &__logo {
            display: flex;
            align-items: left;
            width: 70px;
            height: 70px;
        }
        &__logo-img {
            width: 100%;
        }
        &__logo-title {
            display: none;
        }
    }
    .allrights-text {
        font-weight: 800;
        font-size: 10px;
        word-wrap: normal;
        word-break: normal;
        // word-break: ;
    }
}
@media (max-width: 319px){
    .footer {
        padding-top: 70px;
        margin-bottom: 10px;
        &__inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            padding: 0 10px;
        }
        &__logo {
            display: flex;
            align-items: left;
            width: 70px;
            height: 70px;
        }
        &__logo-img {
            width: 100%;
            height: auto;
        }
        &__logo-title {
            transform: scale(0);
        }
    }
    .allrights-text {
        font-weight: 800;
        font-size: 10px;
        word-wrap: normal;
        word-break: normal;
        // word-break: ;
    }
}