.why-choose-us {
    padding-top: 70px;
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &__inner-title-mb {
        display: none;
    }
    &__inner-block {
    }
}
.block-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    &__icon {
        align-self: center;
        padding-left: 40px;
    }

    &__content {
    }

    &__word {
        display: flex;
        align-items: center;
        padding-right: 40px;
    }
}
.icon {
 
}
.block-content-title {
    font-weight: 800;
    font-size: 32px;

}
.block-content-text {
    font-weight: 400;
    font-size: 32px;
}
.block-word-q {
    font-weight: 800;
    font-size: 50px;
    text-align: right;
    color: #383838;
}
.vector {
    width: 100%;
    height: auto;
    padding: 30px 0;
}

@media (max-width:1200px){
    .block-inner {
    
        &__content {
           padding-left: 30px;
        }
    
        &__word {
           
            padding-right: 40px;
        }
    }
    .icon {
        width: 100%;
        height: auto;
    }
    .block-content-title {
        font-weight: 800;
        font-size: 28px;
    
    }
    .block-content-text {
        font-weight: 400;
        font-size: 26px;
    }
    .block-word-q {
        font-weight: 800;
        font-size: 38px;
        text-align: right;
        color: #383838;
    }
    .vector {
        width: 100%;
        height: auto;
        padding: 30px 0;
    }
}
@media (max-width:1024px){
    .block-inner {
    
        &__content {
           padding-left: 30px;
        }
    
        &__word {
           
            padding-right: 40px;
        }
    }
    .icon {
        width: 80%;
        height: auto;
    }
    .block-content-title {
        font-weight: 800;
        font-size: 26px;
    
    }
    .block-content-text {
        font-weight: 400;
        font-size: 20px;
    }
    .block-word-q {
        font-weight: 800;
        font-size: 35px;
        text-align: right;
        color: #383838;
    }
    .vector {
        width: 100%;
        height: auto;
        padding: 30px 0;
    }
}
@media (max-width:920px){
    .block-inner {
    
        &__content {
           padding-left: 30px;
        }
    
        &__word {
           
            padding-right: 40px;
        }
    }
    .icon {
        width: 60%;
        height: auto;
    }
    .block-content-title {
        font-weight: 800;
        font-size: 20px;
    
    }
    .block-content-text {
        font-weight: 400;
        font-size: 16px;
    }
    .block-word-q {
        font-weight: 800;
        font-size: 30px;
        text-align: right;
        color: #383838;
    }
    .vector {
        width: 100%;
        height: auto;
        padding: 30px 0;
    }
}
@media (max-width:920px){
    .why-choose-us {
        padding-top: 70px;
        &__inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        &__inner-title-mb {
            display: block;
            margin: 0 auto;
            font-weight: 800;
            font-size: 28px;
            margin-bottom: 30px;
        }
        &__inner-block {
        }
    }
    .block-inner {
        justify-content: center;
        &__content {
           padding:0 30px 0 0;
        }
    
        &__word {
            display: none;
            padding-right: 0px;
        }
    }
    .icon {
        width: 60%;
        height: auto;
        padding-left: 0px;
        padding-left: 0px;

    }
    .icon {
        padding: 0 0 0 0;
    }
    .block-content-title {
        font-weight: 800;
        font-size: 20px;
    
    }
    .block-content-text {
        font-weight: 400;
        font-size: 16px;
        padding-right: 30px;
    }
    .block-word-q {
        font-weight: 800;
        font-size: 30px;
        text-align: right;
        color: #383838;
    }
    .vector {
        width: 80%;
        height: auto;
        padding: 30px 0;
    }
}
@media (max-width:425px){
    .why-choose-us {
        padding-top: 70px;
        &__inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        &__inner-title-mb {
            display: block;
            margin: 0 auto;
            font-weight: 800;
            font-size: 28px;
            margin-bottom: 30px;
        }
        &__inner-block {
        }
    }
    .block-inner {
        justify-content: center;
        &__content {
           padding:0 30px 0 0;
        }
    
        &__word {
            display: none;
            padding-right: 0px;
        }
    }
    .icon {
        width: 60%;
        height: auto;
        padding-left: 0px;
        padding-right: 30px;
    }
    .block-content-title {
        font-weight: 800;
        font-size: 20px;
        line-height: 0;
    
    }
    .block-content-text {
        font-weight: 400;
        font-size: 16px;
        padding-right: 10px;
    }
    .block-word-q {
        font-weight: 800;
        font-size: 30px;
        text-align: right;
        color: #383838;
    }
    .vector {
        width: 80%;
        height: auto;
        padding: 30px 0;
    }
}